pixel-button {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: text-bottom;
}
pixel-button > div.pixel-wrapper {
  position: absolute;
  box-sizing: inherit;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
pixel-button > button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: var(--pixel-font-family);
  font-weight: bold;
  cursor: pointer;
  box-sizing: inherit;
  border: none;
  text-transform: var(--pixel-button-text-transform);
}
pixel-button > button:focus {
  outline: none;
}
pixel-button > button {
  background-color: var(--pixel-button-background-color, transparent);
  color: var(--pixel-button-color, var(--pixel-primary));
  padding: 7px 16px;
}
pixel-button > button.icon {
  padding: 2px;
}
pixel-button[secondary] > button {
  color: var(--pixel-secondary);
}
pixel-button[accent] > button {
  color: var(--pixel-accent);
}
pixel-button.hovered > .pixel-wrapper, pixel-button.focused > .pixel-wrapper {
  background-color: rgba(32, 32, 32, 0.1);
}
pixel-button:active > .pixel-wrapper {
  background-color: rgba(32, 32, 32, 0.3);
}
pixel-button[raised] {
  border: 2px solid var(--pixel-button-border-color, var(--pixel-border));
}
pixel-button[raised] > div.pixel-wrapper {
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
pixel-button[raised] > button {
  background-color: var(--pixel-button-background-color, var(--pixel-primary));
  color: var(--pixel-button-color, var(--pixel-text-color-2));
  padding: 5px 16px;
}
pixel-button[raised] > button.icon {
  padding: 0 2px;
}
pixel-button[raised][secondary] > button {
  background-color: var(--pixel-button-background-color, var(--pixel-secondary));
}
pixel-button[raised][accent] > button {
  background-color: var(--pixel-button-background-color, var(--pixel-accent));
}
pixel-button[raised].hovered > div.pixel-wrapper, pixel-button[raised].focused > div.pixel-wrapper {
  background-color: rgba(255, 255, 255, 0.1);
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
pixel-button[raised]:active > div.pixel-wrapper {
  background-color: rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
pixel-button[outlined] {
  border: 2px solid var(--pixel-button-border-color, var(--pixel-primary));
}
pixel-button[outlined][secondary] {
  border-color: var(--pixel-secondary);
}
pixel-button[outlined][accent] {
  border-color: var(--pixel-accent);
}
pixel-button[outlined] > button {
  padding: 5px 16px;
}
pixel-button[outlined] > button.icon {
  padding: 0 2px;
}
pixel-button[rounded] {
  border-radius: 16px;
}
pixel-button[rounded] > div.pixel-wrapper {
  border-radius: 16px;
}
pixel-button[rounded] > button {
  border-radius: 16px;
}
pixel-button[rounded] > button.icon {
  padding: 0;
}
pixel-button[stripped] > button {
  background-image: linear-gradient(135deg, var(--pixel-button-background-color) 25%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.1) 50%, var(--pixel-button-background-color) 50%, var(--pixel-button-background-color) 75%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.1) 100%);
  background-size: 28.28px 28.28px;
}
pixel-button[disabled] {
  pointer-events: none;
  opacity: 0.5;
}