pixel-toggle {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  height: 30px;
  width: 60px;
  border: 2px solid var(--pixel-toggle-border-color-1, var(--pixel-border-1));
  user-select: none;
}
pixel-toggle:hover, pixel-toggle:focus {
  outline: none;
}
pixel-toggle:hover > div.pixel-active-wrapper, pixel-toggle:focus > div.pixel-active-wrapper {
  background-color: var(--pixel-wrapper-color);
  opacity: var(--pixel-hover-amount);
}
pixel-toggle:active {
  outline: none;
}
pixel-toggle:active > div.pixel-active-wrapper {
  background-color: var(--pixel-wrapper-color);
  opacity: var(--pixel-active-amount);
}
pixel-toggle > div.pixel-active-wrapper {
  position: absolute;
  box-sizing: border-box;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
pixel-toggle > div.pixel-wrapper {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-top: 2px solid rgba(0, 0, 0, 0.25);
  border-bottom: 2px solid rgba(255, 255, 255, 0.25);
}
pixel-toggle > div.slider {
  height: 100%;
  box-sizing: border-box;
}
pixel-toggle > div.slider > div.slider-switch {
  position: absolute;
  z-index: 2;
  box-sizing: border-box;
  height: 100%;
  width: 50%;
  border: 2px solid var(--pixel-toggle-border-color-2, var(--pixel-border-2));
}
pixel-toggle > div.slider > div.slider-switch > div.slider-switch-wrapper {
  position: absolute;
  box-sizing: border-box;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
pixel-toggle[primary] {
  background-color: var(--pixel-toggle-background-color, var(--pixel-primary));
}
pixel-toggle[primary] > div.pixel-wrapper {
  background-image: linear-gradient(135deg, var(--pixel-toggle-background-color, var(--pixel-primary)) 25%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.25) 50%, var(--pixel-toggle-background-color, var(--pixel-primary)) 50%, var(--pixel-toggle-background-color, var(--pixel-primary)) 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25) 100%);
  background-size: 28.28px 28.28px;
}
pixel-toggle[primary] > div.slider > div.slider-switch > div.slider-switch-wrapper {
  background-color: var(--pixel-toggle-color, var(--pixel-primary));
}
pixel-toggle[secondary] {
  background-color: var(--pixel-toggle-background-color, var(--pixel-secondary));
}
pixel-toggle[secondary] > div.pixel-wrapper {
  background-image: linear-gradient(135deg, var(--pixel-toggle-background-color, var(--pixel-secondary)) 25%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.25) 50%, var(--pixel-toggle-background-color, var(--pixel-secondary)) 50%, var(--pixel-toggle-background-color, var(--pixel-secondary)) 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25) 100%);
  background-size: 28.28px 28.28px;
}
pixel-toggle[secondary] > div.slider > div.slider-switch > div.slider-switch-wrapper {
  background-color: var(--pixel-toggle-color, var(--pixel-secondary));
}
pixel-toggle[accent] {
  background-color: var(--pixel-toggle-background-color, var(--pixel-accent));
}
pixel-toggle[accent] > div.pixel-wrapper {
  background-image: linear-gradient(135deg, var(--pixel-toggle-background-color, var(--pixel-accent)) 25%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.25) 50%, var(--pixel-toggle-background-color, var(--pixel-accent)) 50%, var(--pixel-toggle-background-color, var(--pixel-accent)) 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25) 100%);
  background-size: 28.28px 28.28px;
}
pixel-toggle[accent] > div.slider > div.slider-switch > div.slider-switch-wrapper {
  background-color: var(--pixel-toggle-color, var(--pixel-accent));
}
pixel-toggle[checked] > div.slider > div.slider-switch {
  left: 50%;
}
pixel-toggle:not([checked]) {
  background-color: #AAAAAA;
}
pixel-toggle:not([checked]) > div.pixel-wrapper {
  background-image: linear-gradient(135deg, #AAAAAA 25%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.25) 50%, #AAAAAA 50%, #AAAAAA 75%, rgba(0, 0, 0, 0.25) 75%, rgba(0, 0, 0, 0.25) 100%);
  background-size: 28.28px 28.28px;
}
pixel-toggle:not([checked]) > div.slider > div.slider-switch > div.slider-switch-wrapper {
  background-color: #AAAAAA;
}
pixel-toggle[rounded] {
  border-radius: 16px;
}
pixel-toggle[rounded] > div.pixel-wrapper {
  border-radius: 16px;
}
pixel-toggle[rounded] > div.pixel-active-wrapper {
  border-radius: 16px;
}
pixel-toggle[rounded] > div.slider > div.slider-switch {
  border-radius: 16px;
}
pixel-toggle[rounded] > div.slider > div.slider-switch > div.slider-switch-wrapper {
  border-radius: 16px;
}
pixel-toggle[disabled] {
  pointer-events: none;
  opacity: 0.5;
}